# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# node
node_modules/
.next/
out/

# ml
ml/data/*.csv

# misc
.DS_Store
*.log
